.list {
  list-style: none;
  font-size: 20px;
  line-height: 30px;
}

.list__item {
  display: flex;
  align-items: flex-start;
  
  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    flex-grow: 0;
    margin-right: 10px;
    margin-top: 9px;
    border: 2px solid $list_disk_color;
    border-radius: 3px;
  }
  
  &:not(:first-child) {
    margin-top: 7px;
  }
}

@media screen and (max-width: 1360px) {
  
  .list {
    font-size: 15px;
    line-height: 21px;
  }
  
  .list__item {
    letter-spacing: -0.3px;
    
    &::before {
      width: 5px;
      height: 5px;
      margin-top: 8px;
    }
    
    &:not(:first-child) {
      margin-top: 6px;
    }
  }
}
