html {
  @include font();
  font-size: 16px;
  color: $common_color;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  line-height: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  position: relative;
  min-height: 100vh;
}

.bg {
  background-image: url('~img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg_alternate {
  background-image: url('~img/bg-heart.png');
}

.row {
  max-width: 1330px;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: content-box;
}

.row_large {
  max-width: 1832px;
  padding-right: 63px;
  padding-left: 75px;
}

@media screen and (max-width: 1363px) {
  
  .bg {
    background-image: url('~img/bg-little.png');
    background-position: top left;
  }
  
  .bg_alternate {
    background-image: url('~img/bg-heart-little.png');
    background-position: center;
  }
  
  .row {
    padding-left: 91px;
  }
  
  .row_large {
    padding-right: 27%;
  }
}

@media screen and (max-width: 768px) {
  
  .bg_alternate {
    background-image: url('~img/bg-heart-mobile.png'), $success_bg_gradient;
    background-position: center, center;
    background-size: 100% auto, cover;
  }
  
  .row {
    padding-right: 15px;
    padding-left: 15px;
  }
}
