$common_color: #585858;

$header_text_color: #fff;
$header_link_color: rgba(7, 74, 134, 0.5);

$switcher_text_checked_color: #dce6ef;
$switcher_border_color: #fff;

$first-screen_tablet_bg_gradient: linear-gradient( 60deg, rgb(225,161,0) 0%, rgb(255,183,0) 100%);
$first-screen_tablet_shadow: -11px 19.053px 35px 0 rgba(255, 183, 0, 0.4);
$first-screen_tablet_text_color: #fff;
$first-screen_bg_box: #fff;
$firs-screen_block_shadow: 0 15px 54px 0 rgba(117, 146, 173, 0.26);
$first-screen_accent_color: rgba(7, 74, 134, 0.5);

$list_disk_color: #ffb700;

$btn_bg_gradient: linear-gradient( 60deg, rgb(225,161,0) 0%, rgb(255,183,0) 100%);
$btn_bg_gradient_hover: linear-gradient( 60deg, rgb(255, 161, 11) 0%, rgb(255, 183, 28) 100%);
$btn_bg_gradient_active:  linear-gradient( 60deg, rgb(225,161,0) 0%, rgb(255,183,0) 100%);
$btn_bg_shadow: 0 22px 35px 0 rgba(255, 183, 0, 0.4);
$btn_bg_shadow_hover: 0 22px 35px 0 rgba(255, 183, 39, 0.4);
$btn_bg_shadow_active: 0 22px 35px 0 rgba(255, 183, 0, 0.2);
$btn_color: #fff;
$btn_text_shadow: 0 3px 5px rgba(159, 117, 10, 0.29);

$footer_tect_color: #b6b6b6;
$footer_text_color_dark: #585858;

$input_border_color: #ffc000;

$modal_bg_color: #fff;
